<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
</head>
<body style="background-image: url('../return-of-the-wilderness_wide.jpg')">
<nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="https://github.com/Asymons"
                                          class="brand-logo red-text">Asymons' Code</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://oldschool.runescape.com/">Play OSRS</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="http://oldschool.runescape.com/" data-activates="nav-mobile" class="button-collapse"><i
                class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>

        <h1 class="header center red-text">RSCode</h1>

        <div class="row center">
            <h5 class="header col s12 light white-text">Help jumpstart your money efficiency by entering your username
                below</h5>
        </div>
        <div class="row center">
            <div class="input-field col s12">
                <form action="info" method="get">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Username" id="username" name="username" type="text" class="validate">
                </form>
            </div>
        </div>
        <br><br>

    </div>
</div>


<footer class="page-footer black" style="position:absolute;
   bottom:0;
   width:100%;
   ">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="red-text darken-2">About</h5>

                <p class="grey-text text-lighten-4">This website was built by Asymons for Hack the North. I hope this
                    website becomes helpful to whoever uses it.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="red-text darken-2">Contact</h5>
                <ul>
                    <li><a class="white-text text-lighten-2" href="#!">Github: Asymons</a></li>
                    <li><a class="white-text text-accent-2" href="#!">Email: alessiosymons@live.com</a></li>
                    <li><a class="white-text text-darken-2" href="#!">Runescape: ExRuneSlayer</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="red-text" href="https://github.com/Asymons">Asymons</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../scripts/materialize.min.js"></script>
<script src="../api/rsexchange.js"></script>
<!--<script src="scripts/init.js"></script>-->

</body>
</html>
