<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>


<nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="https://github.com/Asymons" class="brand-logo red-text">Asymons' Code</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://oldschool.runescape.com/">Play OSRS</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="http://oldschool.runescape.com/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="section">
    <div class="container">
        <div class="row center">
            <table class="striped" id="moneytable">
                <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Skill Requirements</th>
                    <th data-field="quest">Quest Requirements</th>
                    <th data-field="price">Money per hour</th>
                </tr>
                </thead>

                <tbody id="tablebody">
                <!--<tr>-->
                    <!--<td>Cannonball</td>-->
                    <!--<td>Smithing: 35</td>-->
                    <!--<td>Quests: </td>-->
                    <!--<td>200k/h</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Cannonball</td>-->
                    <!--<td>Smithing: 35</td>-->
                    <!--<td>Quests: </td>-->
                    <!--<td>200k/h</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Cannonball</td>-->
                    <!--<td>Smithing: 35</td>-->
                    <!--<td>Quests: </td>-->
                    <!--<td>200k/h</td>-->
                <!--</tr>-->
                </tbody>
            </table>



<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../scripts/materialize.min.js"></script>
<script src="../api/rsexchange.js"></script>
<script src="../scripts/tableupdater.js"></script>
<!--<script src="../api/rshighscores.js"></script>-->

</body>
</html>